<body>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <img src="../../assets/imgs/LOGO.png" alt="clinic_logo"
               class="rounded mx-auto d-block">
          <h5 class="card-title text-center">Sign In</h5>
          <form class="form-signin" (submit)="loginUser(f)" #f="ngForm">
            <div class="d-flex flex-column justify-content-center">
              <label for="userId" style="display: none;">User ID</label>
              <div class="input-group">
                <input type="text"
                       class="form-control"
                       id="userId"
                       placeholder="User ID"
                       name="userId"
                       ngModel>
              </div>
              <br>
              <label for="userPassword" style="display: none;">Password</label>
              <div class="input-group">
                <input type="password"
                       class="form-control"
                       id="userPassword"
                       placeholder="Password"
                       name="userPassword"
                       ngModel>
              </div>
            </div>

            <br>
            <label for="userType">Select User Type</label>
            <div class="input-group">
              <select class="custom-select" id="userType" name="userType" ngModel>
                <option value="1">Patient</option>
                <option value="2">Reception</option>
                <option value="3">Doctor</option>
                <option value="4">Administrator</option>
              </select>
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1" name="checkbox1"
                     [(ngModel)]="rememberME">
              <label class="custom-control-label" for="customCheck1">Remember password</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
