<div role="document" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <hr>
        <table id="tablePreview"
               class="table table-hover table-striped table-bordered"
               style="background: white;">
          <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let x of list; let i = index">
            <th scope="row">{{(i + 1)}}</th>
            <td>{{x.date}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
  </div>
</div>
