<div class="container">
  <h1>Request Vacation Day</h1>
  <form #f="ngForm" (submit)="add_vacation(f)" name="theform">
    <div class="row">
      <div class="col">
        <label for="date">Select Date: </label>
        <input type="date" id="date" name="date" [(ngModel)]="vacation.vdate" class="form-control">
      </div>
      <div class="col">
        <label for="fromtime">From: </label>
        <input type="time" id="fromtime" name="fromtime" [(ngModel)]="vacation.start" class="form-control">
      </div>
      <div class="col">
        <label for="totime">To: </label>
        <input type="time" id="totime" name="totime" [(ngModel)]="vacation.end" class="form-control">
      </div>
    </div>
    <div class="row">
      <label for="notes">Notes: </label>
      <input type="text" id="notes" name="notes" [(ngModel)]="vacation.note" class="form-control">
    </div>
    <br>
    <div class="row" style="margin-bottom: 50px;">
      <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
    </div>
  </form>
</div>
